
{% extends "layout.html" %}
{% block content %}

<div class="card" class="m-5 p-2">
    <h5 class="card-title">{{ actor.fldYear }} - {{ actor.fldName }}</h5>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ actor.fldYear }}</li>
        <li class="list-group-item">{{ actor.fldName }}</li>
        <li class="list-group-item">{{ actor.fldAge }}</li>
        <li class="list-group-item">{{ actor.fldMovie }}</li>
    </ul>
    <div class="card-body">
        <a href="/edit/{{actor.fldIndex}}" class="card-link btn btn-primary">edit</a>
    </div>
</div>
<form action="/delete/{{actor.fldIndex}}" method="post"><button type="submit" class="btn btn-danger">Delete</button></form>


{% endblock %}